*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E2E5D3;
}

.clock-container {
    width: 600px;
    height: 600px;
    background: url(images/anolog-clock.png) no-repeat center;
    
    background-size: cover;
    position: relative;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    transform-origin: bottom;
    border-radius: 10px;
    opacity: 0.7;
}
#hour {
    height: 25%;
    width: 2%;
    top: 25%;
    left: 49.5%;
   
} 
 #minute {
    height: 32%;
    width: 1.6%;
    top: 18.8%;
    left: 49.5%;
    
}
#second {
    height: 34%;
    width: 0.8%;
    top: 17%;
    left: 49.8%;
    
}